.flex{
    display: flex;
}
.flex-justify{
    justify-content: center;
}
.flex-align{
    align-items: center;
}
.flex-between{
    justify-content: space-between;
}
.flex-around{
    justify-content: space-around;
}
.flex1{
    flex: 1;
}
.flex-wrap{
    flex-wrap: wrap;
}